body{
    height: fit-content;
}
#right-bar{
    display: flex;
    flex-direction: row;
}
#right-left-bar{
    flex: 25%;
    border: none;

}
#right-right-bar{
    flex: 75%;
    border: none;

}
.card{
    border-radius: 35px;
    box-shadow: 0px 12px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #e0dddd;
}
.button{
    border-radius: 10px;
    border: none;
    background-color: #1f2937;
    color: white;
    margin: 10px;
    cursor: pointer;
}
#profile-photo-card, #percentage-card{
    margin: 30px 30px;
    margin-top: 90px;
    text-align: center;
    height: fit-content;
}
#profile-photo-card p{
    font-size: 15px;
}
#edit-information-card{
    margin: 30px 30px;
}

#image-div{
    background-size: cover;
    text-align: center;
    height: 110px;
    width: 110px;
    border-radius: 50px;
    margin: 15px auto;
    cursor: pointer;
    background-color: #000000;
}
#image-div img{
    height: 110px;
    width: 110px;
    border-radius: 50px;
    z-index: 3;
}
#image-div:hover img{
    opacity: 0.5;
}
#image-div:hover i{
    display: block;
}
#image-div i{
    z-index: 2;
    position: relative;
    top: -75px;
    color: white;
    display: none;
}
#image-button{
    width: 120px;
    padding: 7px 5px;
    font-size: 14px;
}
p#percentage{
    font-size: 40px;
}
p{
    margin: 10px;
    font-size: 18px;
}
#percentage-card{
    height:200px;
    border-radius: 20px;
}
#percentage-card p{
    margin-bottom: 30px;
}

.progress-bar{
    width: 80%;
    margin: 20px auto;
    border: 1px solid #707070;
    height: 10px;
    border-radius: 10px;
}
.progress-status{
    background-color: #1f2937;
    width: 60%;
    height: 10px;
}
.form{
    display: flex;
    flex-direction: row;
}
.form-left-hand, .form-right-hand{
    flex: 50%;
    padding: 10px 20px;
}
.input{
    display: flex;
    flex-direction: column;
    padding: 0px;
}
label, input{
    margin: 5px;
    padding: 0px;
}
input{
    width: 60%;
    height: 20px;
    margin-top: 14px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #b6b0b0;
    color: #1f2937;
    /* border-radius: 7px; */
}
label{
    color:#615D5D;
    margin-bottom: 0px;
}
.save-button{
    padding: 5px;
    width: 120px;
    text-align: center;
    margin-top: 20px;
}
h1{
    color: Black;
    text-align: center;
}
h3{
    margin-left: 25px;
    margin-bottom: 5px;
}

#account-setting, #change-password, #personal-detials{
    margin-top: 35px;
    margin-bottom: 0px;
}

#email{
    width: 28%;
}
#delete-button{
    padding: 5px;
    width: 120px;
    text-align: center;
    margin-top: 20px;
    background-color: #f8463d;
}

.button-group{
    display: inline-block;
}

.button-group button{
    margin-right: 50px;
}

/* 794 */
@media only screen and (max-width: 950px) {
    #main{
        height: fit-content;
    }
    #main #right-bar{
        flex: 100%;
    }
    #main aside{
        display: none;
        width: 0%;
        padding-top: 30px;
    }
    .folder{
        display: block;
        padding: 10px;
    }
    /* subject to change  */
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0px;
        left: 0;
        background-color: rgb(87, 184, 70,0.9);
        overflow-x: hidden;
        transition: 0.5s;
        
    }
    
    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    .overlay .closebtn {
        display: block;
        position: absolute;
        top: 0px;
        right: 5px;
        font-size: 60px;
        color: #1f2937;
    }
    #right-bar{
        display: flex;
        flex-direction: column;
    }
    #right-right-bar{
        flex: 100%;
    }
    #right-left-bar{
        flex: 80%;
    }

    #profile-photo-card{
        margin-top: 35px;
    }
    
}
#profile-photo-card #extra-info{
    font-size: 14px;
}
#personal-detail-message,#change-email-message,#change-password-message,#photo-upload-message{
    display: none;
    width: 80%;
    height:fit-content;
}

#photo-upload-message{
    margin:10px auto;
    height: fit-content;
    padding-top: 5px;
}
.success, .error{
    width: 60% ;
    height: fit-content;
    text-align: center;
    padding-top: 10px;
}
.success{
    color: #155724;
    background-color:#d4edda;
    border-radius: 10px;
}
.error{
    color: #721c24;
    background-color: #f8d7da;
    border-radius: 10px;
}
#profile_photo{
    display: none;
}