html,body{
    height:100%;
}
body{
    background-color: #57B846;
    overflow-y: scroll;
    padding: 0px;
}

/* #top-bar{
    display: inline-block; 
    width: 100%;
   
}
#top-bar h1{
    float: left;
}
.right{
    float: right;
} */
#top-bar{
    display: flex;
    justify-content: space-between
    }
#top-bar #profile-box{
    display: flex;
    flex-direction: row;
   justify-content: space-around;
   align-items: center;
   padding: 0px 10px;
   font-size: 18px;
   font-weight: 100;
   color: white;
}
#top-bar #profile-box img{
    height: 45px;
    width: 55px;
    border-radius: 15px;
    margin: 10px 5px;
    border: 0.5px solid rgb(117, 115, 115);
}
#top-bar #profile-box p{
    flex: 40%;
    margin-left:8px;
    margin-right: 5px;
}
#profile-box span{
    transform: rotate(90deg); 
    cursor: pointer;
}

#main{  
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px;
    height: 100%;
}
#folder{
    color: #1f2937;
    cursor: pointer;
    display: none;
}
#main #right-bar{
    flex: 82%;
    background-color: white;
    height: 100%;
    margin: 0px;
    border-radius: 25px;
}
#main aside{
    flex: 14%;
    padding-top: 30px;
    height: 100%;
}
#form-box{
    border: 1px solid #e0dddd;
    box-shadow: 0px 12px 16px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    width: 60%;
    margin: 50px auto;
    background-color: #f8fafc;
    padding-left: 10px;
}
.side-bar-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: left;
    color: white;
    padding-left: 5%;
    cursor: pointer;
    margin-bottom: 15px;
}
.side-bar-list:hover{
    color: #1f2937;
}

.side-bar-list p{
    padding: 0px 10px;
    font-size: 20px;
    letter-spacing: 1px;
   
}
h1{
    color: white;
}
h2{
    text-align: center;
    margin-bottom: 0px;
    color: #1f2937;
}

.date-display{
    background-color: #1f2937;
    float: right;
    margin: 0px;
    margin-right: 2%;
    width: 130px;
    color: white;
    border-radius: 10px;
}
.date-display p{
    margin: 0px;
    padding: 7px 5px;
}
.date-display #date{
    font-size: 22px;
    /* font-weight: bold; */
}


input{
    margin: 10px;
}
.buttons-container{
    display: inline-block;
    flex-direction: row;    
    width: 100%;
}
.buttons-container .button{
    background-color: #1f2937;
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    border: none;
    float: right;
    margin-right: 20px;
    cursor: pointer;
    margin-bottom: 15px;
}
#submit{
    background-color: #57B846;
}
#back{
    display: none;
}
.buttons-container .button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
#submit:hover{
    background-color: white;
}

.overlay .closebtn{
    display: none;
}
.label{
    font-weight: bold;
}  

#second-question, #third-question, #fourth-question{
    display: none;
}
@media only screen and (max-width: 1180px) {
    #main{
        height: fit-content;
    }
    #main #right-bar{
        flex: 100%;
    }
    #main aside{
        display: none;
        width: 0%;
        padding-top: 30px;
    }
    .date-display{
        float: unset;
        margin: 20px auto;
    }
    #form-box{
        width: 80%;
    }
    #folder{
        display: block;
        padding: 10px;
    }
    /* subject to change  */
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0px;
        left: 0;
        background-color: rgb(87, 184, 70,0.9);
        overflow-x: hidden;
        transition: 0.5s;
        
    }
    
    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    .overlay .closebtn {
        display: block;
        position: absolute;
        top: 0px;
        right: 5px;
        font-size: 60px;
        color: #1f2937;
    }
    #profile-photo-card{
        margin-left: 0px;
    }
    .success,.error{
        width: 80%;
    }
}

 /* For dropdown */
 #dropdown-icon{
     cursor: pointer;
 }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 0px;
    right: 10px;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }